<div>
  <!--  <img [src]="product.pImage" alt="iphone" width="200" height="200">
    <p>Name: {{ product.name}}</p>
    <p>Price: {{'$' +product.price}}</p>
    <p>Color: {{product.color}}</p>
    <p>Discounted Price: {{ '$' + getDiscountedPrice().toFixed(2)}}</p>
    <p>{{product.inStock > 0 ? 'Only '+ product.inStock + ' items left': 'Out of stock'}}</p>
    <button (click)="decrementCartValue()" [disabled]="addToCart == 0">-</button>
    <span>{{addToCart}}</span>
    <button [disabled]="addToCart == this.product.inStock" (click)="incrementCartValue()">+</button>  -->
  <!-- <input (input)="onTextChanged($event)"/><br/>
    <p>Name: {{name}}</p> -->
  <!-- <app-search></app-search> -->
  <app-prod-search (searchTextChangedEvent)="setSearchText($event)"></app-prod-search>
  <product-list [searchText]="searchText" #productListComponent></product-list>
  <product-detail *ngIf="productListComponent.selectedProduct"
    [productListComponent]="productListComponent"></product-detail>

  <div class="ekart-featured-products">
    <div class="ekart-featured-product-heading">
      <h1 #heading>Latest Arrival in Popular Brands</h1>
    </div>
    <featured-brands>
      <span #title class="title-text">New Arrivals in Nike</span>
      <span class="btn-text">Show New Arrivals in Nike</span>
    </featured-brands>
    <featured-brands>
      <p #title class="title-text">New Arrivals in Adidas</p>
      <span class="btn-text">Show New Arrivals in Adidas</span>
    </featured-brands>
    <featured-brands>
      <span #title class="title-text">New Arrivals in Reebok</span>
      <span class="btn-text">Show New Arrivals in Reebok</span>
    </featured-brands>
  </div>
</div>