<div>
  <!--  <img [src]="product.pImage" alt="iphone" width="200" height="200">
    <p>Name: {{ product.name}}</p>
    <p>Price: {{'$' +product.price}}</p>
    <p>Color: {{product.color}}</p>
    <p>Discounted Price: {{ '$' + getDiscountedPrice().toFixed(2)}}</p>
    <p>{{product.inStock > 0 ? 'Only '+ product.inStock + ' items left': 'Out of stock'}}</p>
    <button (click)="decrementCartValue()" [disabled]="addToCart == 0">-</button>
    <span>{{addToCart}}</span>
    <button [disabled]="addToCart == this.product.inStock" (click)="incrementCartValue()">+</button>  -->
    <!-- <input (input)="onTextChanged($event)"/><br/>
    <p>Name: {{name}}</p> -->
    <!-- <app-search></app-search> -->
    <app-prod-search></app-prod-search>
    <product-list></product-list>
</div>