<div class="ekart-featured-product-item">
    <h3 class="title"><ng-content select=".title-text"></ng-content></h3>
    <p class="description">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis error repellat eveniet alias voluptatibus minus
      eius molestiae ducimus voluptatum nulla. Amet, similique? Fugiat iure commodi a amet corrupti? Deleniti,
      corrupti?
    </p>
    <button (click)="showTitleText()" class="call-to-action"><ng-content select=".btn-text"></ng-content></button>

  </div>